{% extends "blog/base.html" %}
{% block title %} Share a post {% endblock %}

{% block content %}
<!--this is an alternative field iteration method-->
<!--    {% for field in form %}-->
<!--    <div>-->
<!--        {{field.errors}}-->
<!--        {{	field.label_tag	}} {{ field	}}-->
<!--    </div>-->
<!--    {%	endfor	%}-->
    {% if sent %}
        <h1>E-mail successfully send</h1>
        <P>
            "{{post.title}}" was successfully sent to {{form.cleaned_data.to}}
        </P>
    {% else %}
        <h1>Share "{{post.title}}" by e-mail</h1>
        <form action="." method="post">
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" value="Send e-mail">
        </form>
    {% endif %}
{% endblock %}